body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222020;
  margin: 0;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  color: #fff;
  background: linear-gradient(45deg, #6b8cff, #48c6ef);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  outline: none;
}

button:hover {
  background: linear-gradient(45deg, #48c6ef, #6b8cff);
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}
